@import 'reset';
@import 'globals';
.desktop-line {
    display: none;
}

.container {
    width: 34.3rem;
    height: 31.5rem;
    background: #313A48;
    box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .advice-box {
        height: 70%;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 33px;
            text-align: center;
            letter-spacing: -0.257143px;
            color: #CEE3E9;
        }
        h3 {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 800;
            font-size: 11px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 3.45714px;
            color: #53FFAA;
            text-transform: uppercase;
        }
    }
}

.dice-logo {
    width: 6.4rem;
    height: 6.4rem;
    background: #53FFAA;
    border: none;
    border-radius: 50%;
    position: relative;
    top: -3.2rem;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 40px #53FFAA;
    }
}

// desktop version
@media screen and (min-width:1440px) {
    .mobile-line {
        display: none;
    }
    .desktop-line {
        display: block;
    }
    .container {
        width: 54rem;
        height: 33.2rem;
        .advice-box {
            // width: 44.4rem;
            margin-top: 4.8rem;
        }
    }
}